# --- Python General ---
__pycache__/
*.py[cod]
*$py.class

# --- Entorno Virtual ---
.venv/
venv/
env/
*.egg-info/

# --- Seguridad y Configuración Local ---
.env
.DS_Store
local_settings.py

# --- Base de Datos ---
db.sqlite3
*.sqlite3
*.sqlite3-journal

# --- Django Media y Static ---
media/
staticfiles/

# --- IDEs (VS Code, Pycharm) ---
.vscode/
.idea/

# --- MIGRACIONES ---
# 1. Ignorar todos los archivos .py dentro de cualquier carpeta 'migrations'
*/migrations/*.py

# 2. ¡IMPORTANTE! No ignorar los __init__.py (para que no se rompa Django)
!*/migrations/__init__.py